<!-- Generated template for the ShippingComponent component -->
<ion-content>
    <div>
        <ion-item-divider color="light"> {{'SHIPPING' | translate}} </ion-item-divider>
        <ion-list radio-group padding>
            <ion-item *ngFor="let address of listaddress" (tap)="selectedaddress(address)">
                <ion-label>
                    <p class="p-black">{{address.firstname}} {{address.lastname}}</p>
                    <p>{{address.address}} {{address.district}} {{address.subdistrict}} {{address.province}} {{address.postcode}}</p>
                    <p style="word-wrap: break-word;">{{address.tel}}</p>
                </ion-label>
                <ion-radio [value]="shipping"></ion-radio>
            </ion-item>
        </ion-list>
        <ion-row>
            <ion-col col-12 text-center>
                <button ion-button small color="default" (click)="openModal()">{{'ADD_NEW_ADDRESS' | translate}}</button>
            </ion-col>
        </ion-row>
        <!-- <ion-label padding class="p-blue" (click)="openModal()">{{'ADD_NEW_ADDRESS' | translate}}</ion-label> -->
    </div>
    <div>
        <ion-item-divider color="light">{{'PLEASE_SELECT_THE_TYPE_OF_SHIPMENT' | translate}}</ion-item-divider>
        <div *ngFor="let item of cartItems.items">
            <ion-list>
                <b padding-left>{{item.product.shop.name}}</b>
                <ion-item>
                    <ion-thumbnail item-start>
                        <preload-image [ratio]="{w:1, h:1}" [src]="item.product.images[0]"></preload-image>
                    </ion-thumbnail>
                    <h2>{{item.product.name}}</h2>
                    <p> {{item.qty}} {{'QTY' | translate}}</p>
                    <h3 text-right>รวม {{item.totalamount | number}} {{'CURRENCY' | translate}}</h3>
                </ion-item>
            </ion-list>
            <ion-row class="shippings">
                <ion-col>
                    <p class="p-black">{{'SHIPPINGMETHOD' | translate}}</p>
                    <ion-list radio-group>
                        <ion-item *ngFor="let shipping of item.product.shippings" (tap)="selectedShipping(item,shipping)">
                            <ion-label>
                                <p *ngIf="shipping.price > 0">{{shipping.name}} ({{shipping.price}} {{'CURRENCY' | translate}})</p>
                                <p *ngIf="shipping.price === 0">{{shipping.name}} (ฟรี)</p>
                                <p>{{shipping.detail}}</p>
                            </ion-label>
                            <ion-radio [value]="shipping"></ion-radio>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <hr>
        </div>
    </div>
    <div>
        <ion-grid>
            <div *ngIf="cartItems.items && cartItems.items.length > 0">
                <ion-row>
                    <ion-col width-50>
                        <p class="p-black">{{'TOTAL_PRICE' | translate}}</p>
                        <p class="p-black" *ngIf="cartItems.deliveryprice">{{'TOTAL_DELIVERYPRICE' | translate}}</p>
                        <p class="p-black">{{'DISCOUNT' | translate}}</p>
                        <p class="p-black">{{'TOTAL_NET' | translate}}</p>
                    </ion-col>
                    <ion-col width-50>
                        <p text-right class="p-black">{{cartItems.amount | number}} {{'CURRENCY' | translate}}</p>
                        <p text-right class="p-black" *ngIf="cartItems.deliveryprice">{{cartItems.deliveryprice | number}} {{'CURRENCY' | translate}}</p>
                        <p text-right class="p-black">{{cartItems.discount | number}} {{'CURRENCY' | translate}}</p>
                        <p text-right class="p-black">{{cartItems.totalamount | number}} {{'CURRENCY' | translate}}</p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>
    <ion-grid>
        <button ion-button full color="danger" class="slide-next" (click)="stepValidation()">{{'PAYMENT' | translate}}</button>
    </ion-grid>
</ion-content>