shipping {
    p {
        text-align: left !important;
    }
    .p-blue {
        color: blue;
    }
    .p-black {
        color: black;
        font-size: 100% !important;
    }
    .swiper-container {
        position: relative;
        z-index: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 200% !important;
        /* height: 5000px; */
    }
    .shippings {
        margin-top: -50px !important;
        padding: 16px 16px 0px 16px !important;
    }
    .color-orenge-custom {
        color: #ff5722;
    }
    .text-decoration {
        text-decoration: line-through;
    }
}