list-scoll-x {
    $categories-horizontal-list-padding: 10px;
    
    .horizontal-categories
    {
        border-bottom: 10px solid $white-a;
        @include element-shadow();
        padding-bottom: 16px;

        .scroll-content
        {
            position: relative;
            contain: style layout;
        }

        .categories-row
        {
            @include flex-wrap(nowrap);

            &::after{
                content: '';
                flex: 0 0 $categories-horizontal-list-padding;
            max-width: $categories-horizontal-list-padding;
            }
        }
        preload-image {
            img {
                z-index: -3;
            }
        }
        .horizontal-item
        {
            padding: 0px 0px 0px $categories-horizontal-list-padding;
            .product-box{
                // background-color: rgba($black-c, .6);
                // margin-top: -50px;
                // color: $white;
                .txt-centr {
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis; // width: 100% !important;
                    font-size: 14px;
                    font-weight: bold;
                    color: #ae75e7;
                    
                }
                .txt-centr2 {     
                    text-align: center;
                    margin-top: -10px;
                    font-size: 14px;
                    font-weight: bold;
                    
                }
                .txt-centr3 {     
                    text-align: center;
                    margin-top: -10px;
                    font-size: 12px;
                    color: grey;
                    
                }
                .text-decoration {
                    text-decoration: line-through;
                    font-size: 12px;                    
                }
                .color-orenge-custom {
                    color: #ff5722;
                }
                                .color-red-custom {
                    color: red;
                }
            }
        }
    }

    ul {
        padding: 0px;
        margin-top:-15px;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 12px;
            }
        }
    }
}
