<ion-header>
    <ion-navbar>
        <ion-title>Product Detail</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="socialShare()">
              <ion-icon name="md-share"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="contact-card-content">
    <topbar [dataTopBar]="productdetailData"></topbar>

    <ion-list class="details-list">
        <ion-item class="detail-item">
            <ion-row>
                <ion-col width-35>
                    <h3 class="categories-title-pomotion">
                        <ion-icon name="ios-cash-outline"></ion-icon>
                    </h3>
                </ion-col>
                <ion-col width-65 text-right>
                    <h3>Price {{productdetailData.price | number}} ฿</h3>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="detail-item" *ngIf="productdetailData.promotions && productdetailData.promotions.length > 0">
            <div *ngFor="let item of productdetailData.promotions">
                <h3 class="categories-title-pomotion">
                    <ion-icon name="md-pricetags"></ion-icon> {{'Promotion' | translate}}</h3>
                <h4 class="detail-textHeader">{{item.name}}</h4>
                <p class="detail-text">{{item.desc}}</p>
            </div>
        </ion-item>
        <ion-item class="detail-item" *ngIf="productdetailData.shipping">
            <h3 class="categories-title-pomotion">
                <ion-icon name="md-car"></ion-icon> {{'Shipping' | translate}}</h3>
            <div *ngFor="let item of productdetailData.shipping">
                <span class="detail-textHeader">{{item.shipping}}</span>
            </div>
        </ion-item>
        <ion-item class="detail-item" *ngIf="productdetailData.shipping">
            <h3 class="categories-title-pomotion">
                <ion-icon name="ios-cash"></ion-icon> {{'Payment' | translate}}</h3>
            <div *ngFor="let item of productdetailData.payment">
                <span class="detail-textHeader">{{item.payment}}</span>
            </div>
        </ion-item>

        <ion-item class="detail-item" *ngIf="productdetailData.shop" (click)="goToShop()">
            <h3 class="categories-title-pomotion">
                <ion-icon name="md-home"></ion-icon>
                {{'Shop' | translate}}</h3>
            <ion-row>
                <ion-col width-50>
                    <span class="detail-textHeader">{{productdetailData.shop.shop}}</span>
                </ion-col>
                <ion-col width-50 text-right>
                    <rating [(ngModel)]="productdetailData.shop.rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>

    <div *ngIf="productdetailData.issize">
        <h3 class="categories-title-pomotion" *ngIf="productdetailData.issize">
            <!-- <ion-icon name="ios-resize-outline"></ion-icon> -->
            {{'Select Size' | translate}}</h3>
        <!-- <preload-image [ratio]="{w:1, h:1}" [src]="productdetailData.size.detail"></preload-image> -->
        <ion-scroll scrollX="true" class="horizontal-categories">
            <ion-row padding radio-group class="categories-row">
                <ion-col width-30 class="horizontal-item" *ngFor="let data of productdetailData.size.sizedetail">
                    <ion-label>{{data.name}}</ion-label>
                    <ion-radio value="{{data.name}}"></ion-radio>
                </ion-col>
            </ion-row>
        </ion-scroll>
    </div>

    <h3 class="categories-title-pomotion" *ngIf="productdetailData.relationProducts">
        {{'RELATEPRODUCT' | translate}}</h3>
    <list-scoll-x [populars]="productdetailData.relationProducts" *ngIf="productdetailData.relationProducts"></list-scoll-x>

    <div *ngIf="productdetailData.qa && productdetailData.qa.length > 0">
        <h3 class="categories-title-pomotion">
            <ion-icon name="md-help"></ion-icon> {{'Question' | translate}}</h3>
        <ion-list>
            <ion-item *ngFor="let item of productdetailData.qa">
                <h4 class="detail-textHeader">
                    <ion-icon name="md-person"></ion-icon> {{item.question}}</h4>
                <p class="detail-text">
                    <ion-icon name="ios-redo-outline"></ion-icon> {{item.answer}}</p>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="productdetailData.review && productdetailData.review.length > 0">
        <h3 class="categories-title-pomotion">
            <ion-icon name="md-star"></ion-icon>
            {{'Review' | translate}}</h3>
        <ion-list>
            <ion-item *ngFor="let item of productdetailData.review">
                <h4 class="detail-textHeader">
                    <ion-icon name="md-person"></ion-icon> ({{item.rate}})</h4>
                <rating [(ngModel)]="item.rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                <p class="detail-text">{{item.comment}}</p>
            </ion-item>
            <ion-item></ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer>
    <button ion-button block color="danger" (click)="addToCart(product)">{{"ADDCART"| translate}}</button>
</ion-footer>