<!-- Generated template for the confirmgatewayComponent component -->
<ion-content *ngIf="confirm">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list no-lines>
          <ion-item>
            <p>มูลค่าสินค้า</p>
            <p item-end>{{confirm.amount | number}} บาท</p>
          </ion-item>
          <ion-item>
            <p>ค่าธรรมเนียมการจัดส่งสินค้า</p>
            <p item-end>{{confirm.deliveryprice | number}} บาท</p>
          </ion-item>
          <ion-item>
            <p>ส่วนลดสินค้า</p>
            <p item-end>{{confirm.discount | number}} บาท</p>
          </ion-item>
          <ion-row>
            <ion-col col-8>
              <ion-item>
                <ion-input type="text" [(ngModel)]="confirm.discountcode" placeholder="ใส่โค้ดส่วนลดตรงนี้"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <button ion-button block color="warning" (click)="discount()">ยืนยัน</button>
            </ion-col>
          </ion-row>
          <ion-item>
            <p><b>ยอดสุทธิ (รวมภาษีมูลค่าเพิ่ม)</b></p>
            <p item-end><b>{{confirm.totalamount | number}} บาท</b></p>
          </ion-item>
        </ion-list>
        <ion-item-group>
          <ion-item-divider color="light"><b>รายการ</b></ion-item-divider>
        </ion-item-group>
        <div class="list-mini">
          <div >
            <ion-list>
              <ion-item *ngFor="let item of confirm.items">
                <ion-thumbnail item-start>
                  <preload-image [ratio]="{w:1, h:1}" [src]="item.product.images[0]"></preload-image>
                </ion-thumbnail>
                <h2>{{item.product.shop.name}}</h2>
                <h2>{{item.product.name}}</h2>
                <p> {{item.qty}} {{'QTY' | translate}}</p>
                <!-- <p class="color-orenge-custom" *ngIf="item.discount > 0">{{item.amount | number}} {{item.currency | translate}}</p>
                  <span *ngIf="item.discount > 0">{{item.discount | number}} {{item.currency | translate}} </span>
                  <span *ngIf="item.discount > 0">  - {{item.product.percentofdiscount | number}}% </span> -->
                <h3 text-right padding>รวม {{item.totalamount | number}} {{'CURRENCY' | translate}}</h3>
                <ion-row class="shippings">
                  <ion-col text-left>
                    <p class="p-black shipping">{{'SHIPPINGMETHOD' | translate}} : {{item.delivery.name}} ({{item.delivery.price}} {{'CURRENCY' | translate}})</p>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </div>
          <ion-list>
            <ion-item>
              <p><b>ที่อยู่จัดส่ง</b></p>
              <p class="review-address">{{confirm.shipping.firstname}} {{confirm.shipping.lastname}}</p>
              <p class="review-address">{{confirm.shipping.address}} {{confirm.shipping.subdistrict}} {{confirm.shipping.district}} {{confirm.shipping.province}}
                {{confirm.shipping.postcode}}
              </p>
              <p class="review-address">โทร : {{confirm.shipping.tel}}</p>
            </ion-item>
          </ion-list>
          <ion-row class="marginB">
            <ion-col col-12>
              <button ion-button block color="warning" (click)="stepValidation()">สั่งสินค้า</button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>